<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generation</title>
</head>
<body>
    <label for="textPrompt">Enter Text Prompt:</label>
    <input type="text" id="textPrompt" placeholder="Etnic kurtas for Indian wedding in pastel colors for women.">
    <button onclick="generateImages()">Generate Images</button>
    <h1>Generated Images</h1>

    {% if image_filenames %}
        {% for image_filename in image_filenames %}
            <img src="{{ image_filename }}" alt="Generated Image">
        {% endfor %}
    {% else %}
        <p>No images generated yet.</p>
    {% endif %}
    <script>
        function generateImages() {
            var textPrompt = document.getElementById("textPrompt").value;

            // Perform an AJAX request to the backend
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/generate_images", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    alert("Images generated successfully!");
                } else {
                    alert("Error generating images. Please try again.");
                }
            };

            xhr.send(JSON.stringify({ textPrompt: textPrompt }));
        }
    </script>
</body>
</html>
